[package]
name = "chamkho-pg"
version = "0.1.0"
authors = ["Vee Satayamas <vee.sa@protonmail.com>"]
edition = "2018"
build = "build.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "chamkho_parser"
crate-type = ["cdylib"]

[[bin]]
name = "adding-stmt"
path = "src/bin.rs"

[dependencies]
lazy_static = "1.4.0"
#pg-extern-attr = { git = "https://github.com/veer66/pg-extend-rs" }
#pg-extend = { git = "https://github.com/veer66/pg-extend-rs" }
wordcut-engine = { git = "https://github.com/veer66/wordcut-engine" }
regex = "1"

[build-dependencies]
bindgen = "0.69.4"
